<% if @todolist.errors.present? %>
  <ul>
    <% @todolist.errors.each do |error, message| %>
      <li> <%= "#{error.capitalize} #{message}" %></li>
    <% end %>
  </ul>
<% end %>

<div class="form container">
  <%= form_for @todolist do |f| %>
    <div class="form-group">
      <%= f.label :title, "待辦事項" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :due_date, "須完成日期" %>
      <%= f.text_field :due_date, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description, "詳細內容" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <%= f.submit "提交" %>
  <% end %>
</div>